@import "./vars";

html,
body {
  font-family: "Jost", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2;
  color: $dark;
}

body {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }
  &::-webkit-scrollbar-track {
    background: rgb(102, 102, 102);
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(231, 231, 231);
    border-radius: 0.5rem;
  }

  &._hidden {
    overflow: hidden;
  }
}

#scene {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}

.container {
  padding: 0rem 5rem;
  margin: 0 auto;
  width: 100%;
}

[data-cursor] {
  &._hide-cursor {
    &::after {
      display: none;
    }
  }

  &::after {
    content: "|";
    display: inline-block;
    animation: cursorAnim 0.8s linear 0.5s infinite;
  }
}

@keyframes cursorAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.section-title {
  font-size: 10rem;
  font-weight: 700;
  min-height: 1.2em;
  text-transform: uppercase;
}
