.about {
  min-height: 100vh;

  &__title {
    width: fit-content;
    margin-left: auto;
    color: $white;
    margin-bottom: 4rem;
  }

  &__text {
    font-size: 2.8rem;
    color: $white;
    max-width: 60rem;
    margin-left: auto;
    @include text;
  }
}
