<section class="about">
  <div class="container">

    <h2 class="about__title section-title">Первые шаги</h2>

    <div class="about__text">
      <p>
        Первые шаги в програмировании я сделал где-то в августе 2021. <br>
        Изучив основы HTML и CSS я понял что мне это нравится и отправился на курсы. <br>
        <!-- TeachMeSkils где изучил JavaScript,
        TypeScript, React. -->
        Аккуратными шагами я добрался и изучил JavaScript, TypeScript,React, Redux Toolkit,
      </p>
    </div>

  </div>
</section>